@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    transition: all 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 20;
    }
  
    .navbar-menu li {
      padding: 12px 0;
      width: 100%;
      text-align: center;
    }
  }
  